{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <h2>Edit Category</h2>
            <div class="well">
                {{ form_start(editCategoryForm) }}
                {{ form_widget(editCategoryForm) }}
                <input type="submit" value="Edit" class="btn btn-lg">
                <a href="{{path('delete-category',{id:product.id}) }}"  class="btn btn- btn-primary">Delete</a>
                {{ form_rest(editCategoryForm) }}
            {{ form_end(editCategoryForm) }}
            </div>
        </div>
    </div>
{% endblock %}
