<header id="home">
    <div class="topbar">
        <div class="container">
            <div class="row">
                <ul> 
                    <li><a href="{{path('security-login')}}">Login</a></li>
                    <li><a href="{{path('security-register')}}">Register</a></li>
                    <li><a href="{{path('user-profile')}}">Profile</a></li>  
                    <li><a href="{{path('show-cart')}}">Cart</a></li>  
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{path('security-logout')}}">Logout</a></li>
                        {%endif%}
                </ul>
            </div>
        </div>
    </div>
    <div class="header-main">
        <h1 class="logo"> {{ store_name }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default">                    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>                        
                </div>           
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('homepage')}}"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li><a href="{{path('products-catalog')}}">Products</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Categories<span class="caret"></span></a>
                            <ul class="dropdown-menu">                 
                                {% for item in (menu_generator.generateCategoryMenuItems()) %}
                                    <li><a href="{{ path('catalog-view-category',{id:item.id}) }}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>                       
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >Brands<span class="caret"></span></a>
                            <ul class="dropdown-menu">                 
                                {% for item in (menu_generator.generateBrandMenuItems()) %}
                                    <li><a href="{{ path('catalog-view-brand',{id:item.id}) }}">{{item.title}}</a></li>
                                {% endfor %}
                            </ul>                       
                        </li>
                        </li>
                        <li><a href="{{path('products-catalog')}}">Promotions</a></li>
                    </ul> 
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="notifications">    
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning" role="alert">{{ flashMessage }}</div>
    {% endfor %}    
</div>