{% extends 'admin/admin_base.html.twig' %}

{% block body %}
   <div class="container">
       <div class="row">
           <div class="col-xs-12">
               <h1>Hello {{app.user.name }}, welcome to the administartion panel</h1>              
           </div>
           <div class="col-xs-12">
               <h2>Store Stats</h2>
               <div class="well">
                   <ul class="list-group">
                    <li class="list-group-item">
                      <span class="badge">{{usersCount}}</span>
                      <strong>Total users: </strong>
                    </li>
                     <li class="list-group-item">
                      <span class="badge">{{productsCount}}</span>
                      <strong>Total products: </strong>
                    </li>
                     <li class="list-group-item">
                      <span class="badge">{{categoriesCount}}</span>
                      <strong>Total categories: </strong>
                    </li>
                     <li class="list-group-item">
                      <span class="badge">{{ordersCount}}</span>
                      <strong>Total orders: </strong>
                    </li>
                    <li class="list-group-item">
                      <span class="badge">{{brandsCount}}</span>
                      <strong>Total brands: </strong>
                    </li>
                  </ul>      
               </div>               
           </div>
         
       </div>
   </div>
{% endblock %}

