{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Manage Products</h2>
            </div>
            <div class="col-xs-12">
                <a href="{{path('admin-product-create')}}" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span>Add product</a>            
            <table class="table table-striped table-cart">
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Image</th>
                    <th>Published</th>
                    <th>Action</th>                    
                </tr>
                {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td><a href="{{path('admin-product-edit',{id:product.id}) }}">{{product.title}}</a></td>
                    <td>{{product.description}}</td>
                    <td><a href="{{path('admin-category-edit',{id:product.category.id}) }}">{{product.category.title}}</a></td>
                    <td><a href="{{path('admin-brand-edit',{id:product.brand.id}) }}">{{product.brand.title}}</a></td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                    <td> <img class="img-responsive" src="/images/products/{{product.image}}" alt="image"></td>
                    <td>{{product.published}}</td>            
                    <td>  <a href="{{path('admin-product-edit',{id:product.id}) }}"  class="btn btn-info">Edit</a>         
                    <a href="{{path('admin-product-delete',{id:product.id}) }}"  class="btn btn-danger">Delete</a></td>    
                </tr>
                {% endfor %}
            </table>
            </div>
           
        </div>
    </div>
{% endblock %}