{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <h2>Edit Product</h2>
            <div class="well">
                {{ form_start(editProductForm) }}
                {{ form_widget(editProductForm) }}
                <input type="submit" value="Edit" class="btn btn-lg">
                <a href="{{path('admin-product-delete',{id:product.id}) }}"  class="btn btn- btn-primary">Delete</a>
                {{ form_rest(editProductForm) }}
            {{ form_end(editProductForm) }}
            </div>
        </div>
    </div>
{% endblock %}
