{{ form_start(editProductForm) }}
    {{ form_widget(editProductForm) }}
    <button type="submit"  class="btn btn-lg">Edit</button>
    <a href="{{path('admin-product-delete',{id:product.id}) }}"  class="btn btn-danger">Delete</a>
    {{ form_rest(editProductForm) }}
{{ form_end(editProductForm) }}
