{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            
            <h2>{{product.title }}</h2>
            <div class="well">
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>   
                <p>Category {{ product.category.title }}</p>      
                <img class="img-responsive" src="/images/products/{{product.image}}" alt="image">
                <a href="{{path('add-to-cart',{id:product.id})}}">Add to Cart</a>
            </div>
        </div>
    </div>
{% endblock %}
