{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Profile</h1>
            <div class="well">
                <p><strong>Name: </strong> {{ user.name}}</p>
                <p><strong>Username: </strong> {{ user.email}}</p>
                 <p><strong>Balance: </strong> {{ user.balance}}</p>
                {% for role in user.roles %}
                    <p><strong>Role: </strong> {{ role |trim('ROLE_')}}</p>
                {% endfor %}
            </div>
            <h2>Change Password</h2>
            <div class="well">
                {{ form_start(changePassForm) }}
                {{ form_widget(changePassForm) }}
                <input type="submit" value="Submit" class="btn btn-lg">
                {{ form_rest(changePassForm) }}
            {{ form_end(changePassForm) }}
            </div>
        </div>
    </div>
{% endblock %}
